body
{
        background-color: rgb(13, 174, 227);

}
h2
{
        color: #000000;
        font-size: 3vh;
        text-align:justify;
        padding: 70px;
        color: aliceblue;
}
